* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

header {
    background: #b22222;
    color: #fff;
    padding: 80px 0;
    text-align: center;
}

header h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

header p {
    font-size: 24px;
}

header .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff5e57;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

section.features {
    background-color: #f4f4f4;
    padding: 40px 0;
}

section.features h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #b22222;
}

.feature-item {
    text-align: center;
    margin: 20px;
    display: inline-block;
    width: 30%;
}

.feature-item img {
    max-width: 100px;
    margin-bottom: 10px;
}

footer {
    background-color: #b22222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

section.about h2 {
    color: #b22222;
    margin-bottom: 20px;
}

section.about p {
    margin-bottom: 20px;
}

section.about ul {
    list-style-type: disc;
    padding-left: 40px;
}

section.about ul li {
    margin-bottom: 10px;
}
