<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	{% block title %}{% endblock %}
	{% if request.user_agent.is_mobile %}
	<link href="{{ url_for('static',filename='styles/mobile.css') }}" rel="stylesheet" type="text/css">
	{% else %}
	<link href="{{ url_for('static',filename='styles/main.css') }}" rel="stylesheet" type="text/css">
	{% endif %}
</head>

<body class="body">
	<nav class='navigation'>
		<ul class="menuList">
			{% if request.user_agent.is_mobile %}
				<li class="DL">
					<div class="burger"></div>
					<ul class="drop menu">
						<li><a href="about">Бронь</a></li>
						<li><a href="login">Регистрация</a></li>
					</ul>
				</li>
				<li class="FC"><a href="/" class="FA">Сайт тройки>
				<li class="FR"><a href="" class="FA">Вход</a></li>

			{% else %}
				<li class="FL firstLi"><a href="\">Главная страница</a></li>
				<li class="FL"><a href="about">Бронь</a></li>
				<li class="FL"><a href="#">Финансы</a></li>
				<li class="FL"><a href="create">Админская</a>
					<ul class="drop menu">
						<li><a href="">Пользователи</a></li>
						<li><a href="">Финансы</a></li>
						<li><a href="">Что-то ещё</a></li>
					</ul>
				</li>
				<li class="FR"><a href="">Вход</a>
					<ul class="drop menu">
						<li><a href="">Регистрация</a></li>
					</ul>
				</li>
			{% endif %}
		</ul>
	</nav>


	<!-- Этот div будет содержать фон -->
	<div class="CB main">
        <!-- Этот div будет прозрачным, нужен для выравнивания -->
        <div class="content">
		{% block content %} {% endblock %}
		</div>
	</div>
</body>

</html>
